.wrapper {
	display: grid;
	grid-template-columns: auto 600px auto;
	grid-template-rows: 50px 5px auto 5px auto;
}

.header,
.footer {
	grid-column: 1 / 4;
	outline: 1px solid black;
}

.header {
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr repeat(6, [col] auto [gutter] 5px);
	grid-template-rows: auto;
}

#name,
#mail,
#images,
#apps,
#notifications,
#profile_pic {
	grid-row: 1 / 2;
	padding: 10px;
	align-self: center;
}

#name {
	grid-column: col 1  / span gutter 1;
}

#mail {
	grid-column: col 2 / span gutter 1;
}

#images {
	grid-column: col 3 / span gutter 1;
}

#apps {
	grid-column: col 4 / span gutter 1;
}

#notifications {
	grid-column: col 5 / span gutter 1;
}

#profile_pic {
	grid-column: col 6 / span gutter 1;

}

.glyphicon {
    font-size: 20px;
}



.footer {
	grid-row: 5 / 6;
}

.content {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}