body {
	font-size: 13px;
}
.wrapper {
	display: grid;
	grid-template-columns: auto 600px auto;
	grid-template-rows: 50px 5px auto 5px auto;
}

.header,
.footer {
	grid-column: 1 / 4;
}

.header {
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr repeat(6, [col] auto [gutter] 5px);
	grid-template-rows: auto;
}

#foo {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	background-size: cover;
	background-position:center center;
	background-image:url("/Users/parkerlewis/Desktop/galvanize photo.jpg");
}


#name,
#mail,
#images,
#apps,
#notifications,
#profile_pic {
	grid-row: 1 / 2;
	margin-top: 15px;
	padding-right: 15px;
	/*padding-top: 10px;*/
	align-self: center;
	font-family: arial,sans-serif;
	opacity: .8;
	text-decoration: none;
	/*padding: 0px;*/
}

/*.hover-black {
	color: black;
	opacity: .8;
}*/
a.hover-black{
	color: black;
	opacity: .8;
}
.hover-black:hover {
	color: black;
}

#name {
	grid-column: col 1  / span gutter 1;
}

#mail {
	grid-column: col 2 / span gutter 1;
}

#images {
	grid-column: col 3 / span gutter 1;
}

#apps {
	grid-column: col 4 / span gutter 1;
}

#notifications {
	grid-column: col 5 / span gutter 1;
}

#profile_pic {
	grid-column: col 6 / span gutter 1;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	background-size: cover;
	background-position:center center;
	background-image:url("/Users/parkerlewis/Desktop/galvanize photo.jpg");
	margin-right: 15px;

}

.glyphicon {
    font-size: 18px;
}



.footer {
	grid-row: 5 / 6;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(3, [col-left] auto [gutter-left] 5px) 1fr repeat(3, [col-right] auto [gutter-right] 5px);
	grid-template-rows: auto;
}

#ad,
#bus,
#about,
#priv,
#terms,
#settings {
	grid-row: 1 / 2;
	/*height: 45px;*/
	align-self: center;
	padding: 10px 0px 10px 25px;
	/*height: ;*/
}



#ad {
	grid-column: col-left 1 / span gutter-left 1;
}

#bus {
	grid-column: col-left 2 / span gutter-left 1;
}

#about {
	grid-column: col-left 3 / span gutter-left 1;
}

#priv {
	grid-column: col-right 1 / span gutter-right 1;
}

#terms {
	grid-column: col-right 2 / span gutter-right 1;
}

#settings {
	grid-column: col-right 3 / span gutter-right 1;
	padding-right: 20px;

}
.content {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	display: grid;
	grid-template-rows: 140px auto 30px auto;
	grid-template-columns: auto;
	justify-items: center;
}

#google_div {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

#google_pic {
	height: auto;
	width: 272px;
}

#input_div {
	grid-row: 4 / 5;
	grid-column: 1 / 2;
}


#search {
	width: 546px;
	height: 40px;

}
#mic_pic {
	height: 40px;
	width: 40px;
	border-top: ;

}
#search:focus {
	border: 1px solid blue;
	outline: none;
}

.submit_buttons {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 30px 3px;
	padding: 8px 14px;
}

#submit_buttons_div {
	text-align: center;
}




